body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Work Sans;
  text-align: center;
  background-color: #1b0404;
  color: aliceblue;
  height: fit-content;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about .page-header, .contact .page-header {
  color:white
}
.about-body p{
  text-align: left;
  margin-left: 10px; 
}

.root {
  height: 100%;
}


.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #1b0404;
  
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
}

.card-description {
  background-color: white;
}

.hover-over-image {
  display: none;
  
}

.card:hover .image img {
  opacity: 0.5;
  transition: all 0.5s ease;
  
}
.card-image:hover .hover-over-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 10em;
  margin-right: 10em;
}


#root {
  min-height: 100vh;
  width: 100%;
}

.nav-tabs li a{
  color: white;
}

.resumeBody {
  height: 100vh;
}

.myPortrait {
	clip-path:fill-box;
  width: 250px;
}

.label {
  text-align: left;
}

.headerName {
  color: white;
}

Footer {
  position: static;
  width: 100%;
  text-align: center;
  
}

footer.footer {
  background-color: #1b0404;
}




@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}
@media only screen and (min-width: 1025px) {
.about-body {
  display: flex;
  }

}